<!DOCTYPE html>
<html dir="ltr" lang="fr">
  <head>
    <title>{% block titre %}Electro El Atoui{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}Electro El Atoui{% endblock %}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="{{ asset('frontend/css/front/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
    <link href="{{ asset('frontend/css/front/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('frontend/css/front/material-design.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('frontend/css/front/css.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('frontend/css/front/photoswipe.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('frontend/css/front/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('frontend/css/front/stylesheet.css') }}" rel="stylesheet">
    <link href="{{ asset('frontend/css/front/jquery.bxslider.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('media/favicon.ico') }}" />
    {% block stylesheets %}{% endblock %}

    <script src="{{ asset('frontend/js/front/jquery-2.1.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('frontend/js/front/jquery-ajax.js') }}" type="text/javascript"></script>
    <script src="{{ asset('frontend/js/front/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('frontend/js/front/jquery.gsap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('frontend/js/front/TimelineMax.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('frontend/js/front/TweenMax.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('frontend/js/front/jquery.scrollmagic.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('frontend/js/front/owl.carousel.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('frontend/js/front/jquery.bxslider.js') }}" type="text/javascript"></script>
  </head>

  <body class="{% block body_class %}product-category-33{% endblock %}">
    <div id="page">
        <header class="header">
            <div class="header-box">
                <div class="container">
                    <div id="logo" class="logo">
                        <a href="{{ path('_frontend_homepage') }}">
                          <img src="{{ asset('media/logo.png') }}" title="Electro El Atoui" alt="Electro El Atoui" class="img-responsive" />
                        </a>
                    </div>
                    <div id="search" class="search">
                        <input type="text" name="search" value="" placeholder="Ma recherche" />
                        <button type="button" class="button-search"><span>Rechercher</span>
                        </button>
                    </div>
                    <div class="box-right">
                        <div class="box-currency">
                            <div class="btn-group pull-right">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <span class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}</span>
                                 {% else %}
                                    <span class="dropdown-toggle" data-toggle="dropdown">Mon compte</span>
                                 {% endif %}
                                <ul class="dropdown-menu  pull-right">
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        {% if is_granted('ROLE_ADMIN') %}
                                          <li><a class="currency-select" href="{{ path('_backend_homepage') }}">Administration</a></li>
                                        {% endif %}
                                        <li><a class="currency-select" href="{{ path('_user_account') }}">Mon compte</a></li>
                                        <li><a class="currency-select" href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                                    {% else %}
                                        <li><a class="currency-select" href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                                        <li><a class="currency-select" href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="box-language"></div>
                        <div class="phone hidden-xs hidden-sm">
                            <a href=""><i class="material-design-phone370"></i></a>
                            <span class="hidden-xs hidden-sm">00 216 71 455 455</span>
                        </div>
                    </div>
                </div>
            </div>
            <nav id="top" class="clearfix nav">
                <div class="container">
                    <div class="box-cart">
                        {% render(controller('FrontendBundle:Home:displayCart')) %}
                    </div>
                    <div id="top-links" class="nav pull-left">
                        {% render(controller('FrontendBundle:Home:navBar')) %}
                    </div>
                </div>
            </nav>
        </header>

        <div class="header_modules"></div>
        <div id="container">
            <div class="container">
                {% block location %}{% endblock %}
                <div class="row">
                    <aside id="column-left" class="col-sm-3 ">
                        {% block boxe_category %}
                          {% render(controller('FrontendBundle:Home:displayCategories')) %}
                        {% endblock %}
                        {% block boxes %}
                            {% render(controller('FrontendBundle:Home:displaySales')) %}
                        {% endblock %}
                    </aside>

                    <div id="content" class="col-sm-9">
                    {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <footer>
            {% include 'FrontendBundle::footer.html.twig' %}
        </footer>
    </div>
     {% block javascripts %}{% endblock %}
     <script src="{{ asset('frontend/js/front/script.min.js') }}" type="text/javascript"></script>
     <script src="{{ asset('frontend/js/front/search.js') }}" type="text/javascript"></script>
     <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
     <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
  </body>
</html>